<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_ingat_obatt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_ingat_obatt"
        android:supportsRtl="true"
        android:theme="@style/Theme.IngatObat"
        tools:targetApi="31">
        <activity
            android:name=".SuccessModalTPasien"
            android:exported="false" />
        <activity
            android:name=".SuccessModalEPasien"
            android:exported="false" />
        <activity
            android:name=".EditPasien"
            android:exported="false" />
        <activity
            android:name=".TambahPasien"
            android:exported="false" />
        <activity
            android:name=".DetailPasien"
            android:exported="false" />
        <activity
            android:name=".HalamanPasien"
            android:exported="false" />
        <activity
            android:name=".SuccessModalTObat"
            android:exported="false" />
        <activity
            android:name=".SuccessModalEObat"
            android:exported="false" />
        <activity
            android:name=".EditObat"
            android:exported="false" />
        <activity
            android:name=".TambahObat"
            android:exported="false" />
        <activity
            android:name=".DetailObat"
            android:exported="false" />
        <activity
            android:name=".HalamanObat"
            android:exported="false" />
        <activity
            android:name=".SuccessModalTJadwal"
            android:exported="false" />
        <activity
            android:name=".SuccessModalEJadwal"
            android:exported="false" />
        <activity
            android:name=".EditJadwal"
            android:exported="false" />
        <activity
            android:name=".TambahJadwal"
            android:exported="false" />
        <activity
            android:name=".DetailJadwal"
            android:exported="false" />
        <activity
            android:name=".HalamanJadwal"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>